*{
    font-family: "liangde";
    margin: 5px;
}
header,footer{
padding:  20px;
background-color: rgb(58, 161, 192);
text-align: center;
}
nav{
    background-color: rgb(240, 194, 161);
    text-align: center;
    font-size: 18px;
    padding: 20px;
    font-weight: bold;
}
 a{
    text-decoration: none;
    width: 100px;
    height: 30px;
    padding: 10px;
    display: inline-block;
    
}
a:link,a:visited{
    color: black;
}
a:hover,a:active{
    color: aqua;
    background-color:chartreuse;
    text-decoration: underline;
}
section{
    background-color: rgb(221, 174, 113);
    border: 3px solid tomato;
    margin: 10px;
    padding: 5px;
    width: 48%;
    height: 200px;
    float: left;
    
}
.c1{
    font-size: 30px;
    

}
#s1 > h1{
     background-color: aqua;
}
#s2 > h1{
    background-color: rgb(97, 168, 49);
}
#s3  > h1{
    background-color: rgb(140, 33, 150);
}
#s4 >  h1{
    background-color: rgb(175, 140, 42);
}
#s5 >  h1{
    background-color: rgb(114, 10, 27);
}
#s6 >  h1{
    background-color: rgb(3, 20, 3);
}

footer  {
    /*float的属性删掉*/
    clear: both;
}